<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style type="text/css">
	.a{
		border-style: outset;
		box-shadow: 2px 2px;
		display: inline-block;
		margin: 10px;
		height: 700px;
		width: 100%;
	}
	.b{
		width: 100%;
		margin: 10px;
	}
	.c{
		width: 100%;
	}
	
</style>
</head>
<body>
	<div class="container-fluid">
		<form  action="/signed" method="post">
		  <div class="form-group">
		    <label for="formGroupExampleInput" >Name</label>
		    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name" name="name" required>
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput">Contact Number</label>
		    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Number" minlength="7000000000" maxlength="9999999999" name="no" required>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd"minlength="8" required>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Address</label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="adr" required></textarea>
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

				
			
</body>